<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Course</th>
      <th>Subjects</th>
      <th>Teachers</th>
      <th>Start Date</th>
      <th>Duration (months)</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {% for batch in batches %}
    <tr id="batch-row-{{ batch.id }}">
      <td>{{ batch.id }}</td>
      <td>{{ batch.name }}</td>
      <td>{{ batch.course.name }}</td>

      <td style="max-width:200px;" class="text-truncate">
        {% with batch.subjects.all as sub_list %}
          {% if sub_list %}
            {% for s in sub_list %}
              {{ s.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            -
          {% endif %}
        {% endwith %}
      </td>

      <td style="max-width:200px;" class="text-truncate">
        {% with batch.teachers.all as teacher_list %}
          {% if teacher_list %}
            {% for t in teacher_list %}
              {{ t.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            -
          {% endif %}
        {% endwith %}
      </td>

      <td>{{ batch.start_date|date:"Y-m-d" }}</td>
      <td>{{ batch.duration }}</td>

      <td class="text-nowrap">
        
        <button
          class="btn btn-sm btn-warning editBtn"
          data-id="{{ batch.id }}"
          data-name="{{ batch.name }}"
          data-course="{{ batch.course.id }}"
          data-start_date="{{ batch.start_date|date:'Y-m-d' }}"
          data-duration="{{ batch.duration }}"
          data-subject_teacher_map='{
            {% for bs in batch.batch_subjects.all %}
              "{{ bs.subject.id }}": "{{ bs.teacher.id }}"{% if not forloop.last %}, {% endif %}
            {% endfor %}
          }'
        >
          Edit
        </button>


      <button
          class="btn btn-sm btn-info viewBtn"
          data-batch-id="{{ batch.id }}"
          data-batch-name="{{ batch.name }}"
          data-course-name="{{ batch.course.name }}"
          data-start-date="{{ batch.start_date|date:'Y-m-d' }}"
          data-duration="{{ batch.duration }}"
          data-subject-teacher='{% if batch.batch_subjects.all %}{% autoescape off %}{% regroup batch.batch_subjects.all by subject as subjects %}{% for bs in batch.batch_subjects.all %}"{{ bs.subject.name }}": "{{ bs.teacher.name }}"{% if not forloop.last %}, {% endif %}{% endfor %}{% endautoescape %}{% else %}{}{% endif %}'
      >
      View
      </button>


        <button
          class="btn btn-sm btn-danger deleteBtn"
          data-id="{{ batch.id }}"
        >
          Delete
        </button>

        <a href="{% url 'batch_students' batch.id %}" class="btn btn-sm btn-primary">
        Enroll
        </a>

      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="8" class="text-center">No batches found</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
